<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>

    </header>
    <div class="comments">
      <h1>Wall</h1>
      <%= render 'form' %>

      <% @comments.each do |comment| %>
        <p>
          <%= comment.name %><br>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
    <div class="footer">
      <%= render 'welcome/down_navigation' %>
    </div>
    <div class="home_button">
      <%= render 'welcome/home_button' %>
    </div>
  </body>
</html>