<h1>Comment wall goes here</h1>

<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :comment %>
  </p>

<%= form.submit %>

<% end %>