<div class="footer">
  <%= link_to 'What we need from you', '/rsvps/new' %>
  <%= link_to 'What you need to know', controller: 'about' %>
  <%= link_to 'Registry', controller: 'registry' %>
  <%= link_to 'Are you excited? Post on our wall', controller: 'comments' %>
</div>

<div class="home_button">
  <%= link_to 'Home', controller: 'welcome' %>
</div>