<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Israelle and Sidney's Wedding</title>
  </head>
 <body>
   <header class="container">
     <a href="/gif/izzy-face-FjvN_g" title="Izzy Face"><img src="https://i.makeagif.com/media/7-29-2018/FjvN_g.gif" alt="Izzy Face""></a>
     <h1>Israelle<br>&<br>Sidney</h1>
     <a href="/gif/sid-face-bni8XY" title="Sid Face"><img src="https://i.makeagif.com/media/7-29-2018/bni8XY.gif" alt="Sid Face"></a>
   </header>
    <div class="welcome_content">

      <h1>Oi, gente! Hey, y’all! Thank you for visiting our website.<br>
      We truly cannot wait to share good times with all of you! 
      </h1>
      <h2>With this new union, the Wienen-Jacintos combine forces with the Nass-Walters. 
      </h2>
      <%= image_tag "main1.jpg" %><br>
      <p>
        Luciana Wienen and Paulo Jacinto brought upon this earth their prayer baby, Israelle, on November 1987. 
        Many people know her as Izzy, but Izzy’s birth name, is pronounced “Eesh-ha-elie”. 
        Fun tongue twister, right? Feel free to practice out loud in your chair right now. 
        Israelle actually has the original letter that her father sent to her mother expressing that if they ever had a daughter, this would be the name bestowed upon their baby. 
        Obrigada por tudo, mami e daddy!</p><br>
      <p>Deborah Nass and Craig Walters spawned their little angel Sidney on March of 1987 (we’re a Pisces and Scorpio super-couple, yes!) 
      His name is spelled with an I, unlike that city in Australia, where the kangaroos run rampant and become delicious BBQ. His Jewish name is “Simcha”, which means “Happiness”. 
      His parents couldn’t have made a more perfect choice, as Sidney is the definition of joy and warmth, just like his name. Thank you, mom and dad!
</p><br>
      <p>Israelle was not expecting to meet the mountain man of her life when she first came to Portland. 
      Sidney also had no idea he’d be falling for a sassy, 5’3 Brazilian when he invited her to be a volunteer on his farm. 
      A six-month plan turned into a lifelong affair. Sidney conquered Israelle’s heart with his guitar strums and his respectful, calm demeanor. 
      Israelle caught his attention with her dance moves and not-so-safe-for-grandma’s-ears humor. 
      In the end, they soon discovered that Izzy was the little coconut to Sid’s palm tree, the mini potato to his asparagus, the quality control to his creative prowess. 
 </p><br><br>  
  <%= image_tag "main2.jpg" %><br>

      <p>That’s just a bit of us, friends and family. With time, we’ll get to share more and more stories. 
      So click on the links below to RSVP and to get more information so y’all can join us for this new era of the Wienen-Jacinto-Nass-Walters Jewzilians (or Braz-ewish, if you prefer)
</p>
      <h2>All the love and see you August 3, 2019.</h2>
        <%= image_tag "main3.jpg" %><br>
      <p>A quick note: A HUGE shoutout to my good friend, Martha, who took on creating this website FROM SCRATCH (I’m talking about all the coding, she gave birth to it). 
      Sure, “The Knot” would be easier, but they wouldn’t let us add Gifs. So thank you, Martha. 
      We love you and are forever grateful for such a gift!</p><br><br>
      
      <%= image_tag "main.jpg" %><br>

    </div>
   <div class="footer">
     <%= render 'welcome/down_navigation' %>
   </div>
   <div class="home_button">
     <%= render 'welcome/home_button' %>
   </div>
  </body>
</html>