Rsvp#rsvp_confirmation


Hi <%= @rsvp.name %>, Thank you for your RSVP!

<h1>Your presence is confirmed!</h1>
<h2>Name: <%= @rsvp.name %></h2>
<h2>Address: <%= @rsvp.address %></h2>
<h2>Phone: <%= @rsvp.phone %></h2>
<h2>Email: <%= @rsvp.email %></h2>
<h2>Are you coming? <%= @rsvp.coming %></h2>
<h2>Plus one name: <%= @rsvp.plus_one_name %></h2>
<h2>Bringing a mini you? <%= @rsvp.mini_you %></h2>
<h2>Name and age: <%= @rsvp.name_and_age %></h2>
<h2>Food: <%= @rsvp.food %></h2>
<h2>Allergies: <%= @rsvp.allergies %></h2>

<p>Please contact us directly if you need to change your RSVP</p>
