<%= form_with model: @rsvp, local: true do |form| %>
  <% if @rsvp.errors.any? %>
      <div id="error_explanation">
        <h2 style="text-align: left">
          Oooooops! RSVP not saved due to <%= pluralize(@rsvp.errors.count, "error") %>:
        </h2>
        <ul>
           <% @rsvp.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
  <% end %>
<div class="rsvps">
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>
  <%= image_tag "rsvp.jpg" %>
  <p>
    <%= form.label :Address %><br>
    <%= form.text_area :address, placeholder: 'House number, Street, Apt. number, City, State, Zip code', size: "52x8" %>
  </p>
  <p>
    <%= form.label :Phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :Email %><br>
    <%= form.email_field :email %><br><br>
    <%= form.label :Email_confirmation %><br>
    <%= form.email_field :email_confirmation %>
  </p>
  <p>
  <p>Are you coming?</p>
  <%= form.radio_button(:coming, 'yes') %>
  <%= form.label :yes %><br><br>
  <%= form.radio_button(:coming, 'no') %>
  <%= form.label :no %>
  </p>
  <%= image_tag "rsvp2.jpg" %>
  <p>
    <%= form.label :Plus_one_name %><br>
    <%= form.text_field :plus_one_name %>
  </p>

  <p>
  <%= form.label :Bringing_a_mini_you? %><br><br>
  <%= form.radio_button(:mini_you, 'yes') %>
  <%= form.label :yes %><br><br>
  <%= form.radio_button(:mini_you, 'no') %>
  <%= form.label :no %><br><br>
  <%= form.label :Name_and_age %><br>
  <%= form.text_field :name_and_age %>
  </p>

  <p>
    <strong>FOOD</strong><br>
  <%= form.radio_button(:food, 'everything') %>
  I am an average Portlander, I eat everything<br>
  <%= form.radio_button(:food, 'no blood') %>
  I am an average Portlander, I don't eat things that bleed<br>
  <%= form.radio_button(:food, 'brains') %>
  I am a zombie, I eat brains
  </p>

  <p>
    <%= form.label :Any_food_allergies? %><br>
    <%= form.text_field :allergies %>
  </p>

  <p>Are you an out of town guest?</p>
    <%= form.radio_button(:out_of_town, 'yes') %>
    <%= form.label :yes %><br><br>
    <%= form.radio_button(:out_of_town, 'no') %>
    <%= form.label :no %>

    <p>At Skyberry, we believe in community, so we are proposing a family-style type of dinner. 
    On top of the feast that we’ll be offering, we would love some of our amazing local friends to help fill our buffet.
    </p>

  <p><%= form.check_box :bring_dish %>
  Can you bring a delicious dish to share? 
  More information will come to our beautiful friends who click this box!</p>

  <p><br>
  <%= form.check_box :terms %> I agree that Izzy and Sid are AWESOME! 🌻
  </p>

  <p><br>
    <%= form.submit %>
  </p>

<% end %>
</div>