<%= form_with model: @rsvp, local: true do |form| %>
  <% if @rsvp.errors.any? %>
      <div id="error_explanation">
        <h2>
          Oooooops! RSVP not saved due to <%= pluralize(@rsvp.errors.count, "error") %>:
        </h2>
        <ul>
           <% @rsvp.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
  <% end %>

  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :Phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.label :Email %><br>
    <%= form.text_field :email %><br>
    <%= form.label :Email_confirmation %><br>
    <%= form.text_field :email_confirmation %>
  </p>

  <p>
  <h2>RSVP</h2>
  <p>Are you coming?</p>
  <%= form.label :yes %>
  <%= form.radio_button(:coming, 'yes') %><br><br>
  <%= form.label :no %>
  <%= form.radio_button(:coming, 'no') %>
  </p>

  <p>
    <%= form.label :Plus_one_name %><br>
    <%= form.text_field :plus_one_name %>
  </p>

  <p>
  <p><%= form.label :Bringing_a_mini_you? %></p>
  <%= form.label :yes %>
  <%= form.radio_button(:mini_you, 'yes') %><br><br>
  <%= form.label :no %>
  <%= form.radio_button(:mini_you, 'no') %><br>
  <%= form.label :Name_and_age %><br>
  <%= form.text_field :name_and_age %>
  </p>

  <p>
  <h2>Food</h2>
  <%= form.radio_button(:food, 'everything') %>
  I am an average Portlander, I eat everything<br>
  <%= form.radio_button(:food, 'no blood') %>
  I am an average Portlander, I don't eat things that bleed<br>
  <%= form.radio_button(:food, 'brains') %>
  I am a zombie, I eat brains
  </p>

  <p>
    <%= form.label :Any_real_food_allergies? %><br>
    <%= form.text_field :allergies %>
  </p>

  <p>
    <%= form.check_box :terms %> I agree that Izzy and Sid are AWESOME!
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>