<!DOCTYPE html>
  <html>
  <head>
   <title>Israelle and Sidney's Wedding</title>
  </head>
  <body>
  <h2>Ok, vamu lá: </h2>
  <p>TOTAL RSVPS: <%= Rsvp.count %></p>
  <p>TOTAL YES: <%= Rsvp.group(:coming).count["yes"]  %></p>
  <p>TOTAL NO: <%= Rsvp.group(:coming).count["no"] %></p>
  <p>TOTAL GUESTS BRINGING CHILDREN (note: can be more than one children per guest): <%= Rsvp.group(:mini_you).count["yes"] %></p>
  <p>TOTAL GUESTS BRINGING DISH: <%= Rsvp.group(:bring_dish).count[true] %></p>
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Coming</th>
        <th>Plus one</th>
        <th>Mini you</th>
        <th>Mini you names and age</th>
        <th>Food</th>
        <th>Food alergies</th>
        <th>Out of town</th>
        <th>Bring dish</th>
        <th colspan="2"></th>
      </tr>

      <% @rsvps.each do |rsvp| %>
        <tr>
          <td><%= rsvp.name %></td>
          <td><%= rsvp.address %></td>
          <td><%= rsvp.phone %></td>
          <td><%= rsvp.email %></td>
          <td><%= rsvp.coming %></td>
          <td><%= rsvp.plus_one_name %></td>
          <td><%= rsvp.mini_you %></td>
          <td><%= rsvp.name_and_age %></td>
          <td><%= rsvp.food %></td>
          <td><%= rsvp.allergies %></td>
          <td><%= rsvp.out_of_town %></td>
          <td><%= rsvp.bring_dish ? 'yes' : 'no' %></td>
          <td><%= link_to 'Show', rsvp_path(rsvp) %></td>
          <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
          <td><%= link_to 'Destroy', rsvp_path(rsvp),
                          method: :delete,
                          data: { confirm: 'Isra, are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <h3>List of emails confirmed "yes"</h3>
    <p>
    <% @rsvps.each do |rsvp| %>
      <% if rsvp.coming == 'yes' %>
        <%= rsvp.email %>,
      <% end %>
    <% end %>
    </p>
    <h3>List of emails confirmed "no"</h3>
    <p>
      <% @rsvps.each do |rsvp| %>
        <% if rsvp.coming == 'no' %>
          <%= rsvp.email %>,
        <% end %>
      <% end %>
    </p>

    <h3>Emails of out of town guests</h3>
    <p>
      <% @rsvps.each do |rsvp| %>
        <% if rsvp.out_of_town == 'yes' %>
          <%= rsvp.email %>,
        <% end %>
      <% end %>
    </p>

    <h3>Emails of guests that are bringing children</h3>
    <p>
      <% @rsvps.each do |rsvp| %>
        <% if rsvp.mini_you == 'yes' %>
          <%= rsvp.email %>,
        <% end %>
      <% end %>
    </p>
        
    <h3>Emails of guests that can bring a dish</h3>
    <p>
      <% @rsvps.each do |rsvp| %>
        <% if rsvp.bring_dish == true %>
          <%= rsvp.email %>,
        <% end %>
      <% end %>
    </p>
    <div class="footer">
      <%= render 'welcome/down_navigation' %><br>
    </div>
    <div class="home_button">
      <%= render 'welcome/home_button' %>
    </div>

  </body>
</html>