<!DOCTYPE html>
  <html>
  <head>

  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Coming</th>
        <th>Plus one</th>
        <th>Mini you</th>
        <th>Mini you names and age</th>
        <th>Food</th>
        <th>Food alergies</th>
        <th colspan="2"></th>
      </tr>

      <% @rsvps.each do |rsvp| %>
        <tr>
          <td><%= rsvp.name %></td>
          <td><%= rsvp.address %></td>
          <td><%= rsvp.phone %></td>
          <td><%= rsvp.email %></td>
          <td><%= rsvp.coming %></td>
          <td><%= rsvp.plus_one_name %></td>
          <td><%= rsvp.mini_you %></td>
          <td><%= rsvp.name_and_age %></td>
          <td><%= rsvp.food %></td>
          <td><%= rsvp.allergies %></td>
          <td><%= link_to 'Show', rsvp_path(rsvp) %></td>
          <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
          <td><%= link_to 'Destroy', rsvp_path(rsvp),
                          method: :delete,
                          data: { confirm: 'Isra, are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <h3>List of emails confirmed "yes"</h3>
    <p>
    <% @rsvps.each do |rsvp| %>
      <% if rsvp.coming == 'yes' %>
        <%= rsvp.email %>,
      <% end %>
    <% end %>
    </p>
    <h3>List of emails confirmed "no"</h3>
    <p>
      <% @rsvps.each do |rsvp| %>
        <% if rsvp.coming == 'no' %>
          <%= rsvp.email %>,
        <% end %>
      <% end %>
    </p>
    <div class="footer">
      <%= render 'welcome/down_navigation' %><br>
    </div>
    <div class="home_button">
      <%= render 'welcome/home_button' %>
    </div>

  </body>
</html>