<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>


    </header>
    <div class="rsvps">
      <h1>What we need from you:</h1>

      <%= form_with scope: :rsvp, url: rsvps_path, local: true do |form| %>
        <p>
          <%= form.label :Name %><br>
          <%= form.text_field :Name %>
        </p>

        <p>
          <%= form.label :Address %><br>
          <%= form.text_field :Address %>
        </p>

        <p>
          <%= form.label :Phone %><br>
          <%= form.text_field :Phone %>
        </p>

        <p>
          <%= form.label :Email %><br>
          <%= form.text_field :Email %>
        </p>

        <p>
          <h2>RSVP</h2>
          <p>Are you coming?</p>
          <%= form.label :yes %>
          <%= form.radio_button(:coming, 'yes') %><br><br>
        <%= form.label :no %>
          <%= form.radio_button(:coming, 'no') %>
        </p>

        <p>
          <%= form.label :Plus_one_name %><br>
          <%= form.text_field :Plus_one_name %>
        </p>

        <p>
        <p><%= form.label :Bringing_a_mini_you? %></p>
          <%= form.label :yes %>
          <%= form.radio_button(:mini_you, 'yes') %><br><br>
          <%= form.label :no %>
          <%= form.radio_button(:mini_you, 'no') %><br>
          <%= form.label :Name_and_age %><br>
          <%= form.text_field :Name_and_age %>
        </p>

        <p>
          <h2>Food</h2>
        <%= form.radio_button(:food, 'everything') %>
        I am an average Portlander, I eat everything<br>
        <%= form.radio_button(:food, 'no blood') %>
        I am an average Portlander, I don't eat things that bleed<br>
        <%= form.radio_button(:food, 'brains') %>
        I am a zombie, I eat brains
        </p>

        <p>
          <%= form.submit %>
        </p>

      <% end %>
    </div>
    <div class="footer">
      <%= render 'welcome/down_navigation' %>
    </div>
  </body>
</html>