<h1>What we need from you:</h1>

  <%= form_with scope: @rsvp, local: true do |form| %>
    <p>
      <%= form.label :Name %>
      <%= form.text_field :Name %>
    </p>

    <p>
      <%= form.label :Address %>
      <%= form.text_field :Address %>
    </p>

    <p>
      <%= form.label :Phone %>
      <%= form.text_field :Phone %>
    </p>

    <p>
      <%= form.label :Email %>
      <%= form.text_field :Email %>
    </p>

    <p>
      <h2>RSVP</h2>
      <p>Are_you_coming?</p>
      <%= form.label :yes %>
      <%= form.radio_button(:coming, 'yes') %>
      <%= form.label :no %>
      <%= form.radio_button(:coming, 'no') %>
    </p>

    <p>
      <%= form.label :Plus_1? %>
      <%= form.text_field :Plus_1? %>
    </p>

    <p>
      <%= form.label :Bringing_a_mini_you? %>
      <%= form.label :yes %>
      <%= form.radio_button(:mini_you, 'yes') %>
      <%= form.label :no %>
      <%= form.radio_button(:mini_you, 'no') %><br>
      <%= form.label :How_many_and_ages %>
      <%= form.text_field :How_many_and_ages %>
    </p>

    <p>
      <h2>Food</h2>
      <%= form.label :Average %> Portlander, I eat everything
      <%= form.radio_button(:food, 'everything') %><br>
      <%= form.label :Average %> Portlander, I don't eat things that bleed
      <%= form.radio_button(:food, 'no blood') %><br>
      <%= form.label :I %> eat babies
      <%= form.radio_button(:food, 'babies') %><br>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>
